* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
  position: relative;
}

.container {
  text-align: center;
  color: #000;
  font-style: bold;
  font-size: 150%;
  height: 100vh;
  padding: 30px;
}

.container h1 {
  color: #fff;
  text-shadow: #000 5px 5px 3px;
}

.container h1 span {
  color: rgb(255, 0, 0);
  filter: brightness(350%);
}

.box {
  border: solid 3px #888;
  border-radius: 100px;
  background-color: #555;
  height: 75vh;
  width: 80vw;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#welcome-msg {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #fff;
}

/* Category cards */
.categories {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 50vh;
  width: 90%;
}

.card {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(30%);
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.4s ease-in;
}

.card:hover {
  filter: brightness(85%);
}

.card h3 {
  color: #fff;
  font-size: 50px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  margin: 0;
  opacity: 0;
  text-shadow: #000 5px 5px 10px;
}

.card.active {
  flex: 3;
  filter: brightness(85%);
  opacity: 100%;
}

.card.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/* Buttons */
#buttons-start {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.btn {
  border: none;
  border-radius: 10%;
  height: 70px;
  width: 200px;
  margin-top: 30px;
  font-size: 1.4rem;
  background: #333;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
  background: #fff;
  color: #000;
  transform: scale(0.98);
  transition: 0.1s ease-in;
}

.btn:active {
  transform: scale(1.1);
}

/* Category images */
#science {
  background-image: url('img/science.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#history {
  background-image: url('img/history.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#sports {
  background-image: url('img/sports.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#geography {
  background-image: url('img/geography.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#philosophy {
  background-image: url('img/philosophy.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#random {
  background-image: url('img/mixed.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Game Menu */
#game-menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 100px;
}

#game-details {
  position: absolute;
  top: 0;
  margin-top: 10px;
  color: #f3f3f3;
}

.timer-box {
  border: #fff solid 4px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 40px;
  top: 40px;
  width: 85px;
  height: 85px;
}

#timer {
  color: #fff;
  font-size: 3rem;
  font-family: 'Share Tech Mono', monospace;
}

.question {
  width: 80%;
  height: 20vh;
  padding: 20px;
}

.question p {
  color: #fff;
  font-size: 2.2rem;
}

/* Answer Buttons */
.answers {
  width: 90%;
  height: 30vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 50px;
}

.answer-btn {
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
}

.answer-btn:hover {
  cursor: pointer;
  filter: brightness(135%);
  transform: scale(1.02);
}

#a {
  background-image: url('img/red.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#b {
  background-image: url('img/blue.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#c {
  background-image: url('img/green.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#d {
  background-image: url('img/purple.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#a,
#b,
#c,
#d {
  color: #000;
}

/* Score */
.score {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: space-between;
  font-size: 4rem;
  margin-top: 15px;
}

#check {
  color: #00ff15;
  display: flex;
}

#x {
  color: red;
  display: flex;
}

/* Settings Menu */
#settings {
  z-index: 1;
}

#settings > div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

input {
  display: none;
}

label {
  cursor: pointer;
  margin: 10px 10px;
}

label:before {
  content: '';
  display: inline-block;
  height: 30px;
  width: 30px;
  background: rgb(210, 23, 115);
  border-radius: 50%;
  z-index: 2;
  transition: box-shadow 0.4s ease, background 0.3s ease;
}

input:checked + label:before {
  box-shadow: inset 0px 3px 0 2px rgb(210, 23, 115, 1);
  background: #fff;
}

#apply-btn {
  position: absolute;
  width: 150px;
  bottom: 20px;
}

/* End Game */
.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  backdrop-filter: blur(5px);
  color: #fff;
  height: 100vh;
  width: 100vw;
}

.hidden {
  display: none;
}

.popup > div {
  z-index: 1;
  position: absolute;
  border: none;
  border-radius: 45px;
  width: 50%;
  height: 45%;
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  color: #fff;
  font-size: 2.7rem;
  text-align: center;
  animation: fadeIn 1s;
}

.popup span {
  font-weight: 1000;
}

#correct-answers {
  color: #00ff15;
}

#incorrect-answers {
  color: red;
}

#new-game-btn {
  position: absolute;
  width: 180px;
  height: 80px;
  bottom: 20px;
  padding: 10px;
}

#endgame > div > i {
  position: absolute;
  bottom: 150px;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Release Notes */
#release-notes {
  z-index: 1;
}

#release-notes div {
  height: 60vh;
  width: 70vw;
}

#release-notes div ul {
  list-style: none;
  margin-top: 30px;
}

#release-notes li {
  margin: 5px;
}

#release-notes i {
  color: #00ff15;
}

#okay-btn {
  position: absolute;
  bottom: 20px;
  width: 180px;
}

/* Responsive Design */
@media (max-width: 1400px) {
  #begin-btn,
  #settings-btn {
    width: 130px;
  }

  #endgame > div {
    font-size: 1.3rem;
  }

  #new-game-btn {
    width: 20%px;
    height: 65px;
    font-size: 1.2rem;
    padding: 0;
  }

  #endgame > div > i {
    font-size: 5rem;
    top: 50%;
    transform: translateY(-50%);
  }

  #release-notes div ul {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  #btn-label {
    display: none;
  }

  .container {
    padding: 10px;
  }

  .categories {
    flex-direction: column;
    display: flex;
    height: 100%;
  }

  .box {
    padding: 10px;
    width: 90vw;
    border-radius: 50px;
  }

  #welcome-msg {
    font-size: 1.3rem;
  }

  .card.active {
    flex: 1.5;
  }

  .card h3 {
    color: #fff;
    font-size: 1.7rem;
    bottom: 20px;
    left: 80px;
    margin: 0;
    opacity: 0;
  }

  #buttons-start {
    top: 0;
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: space-between;
  }

  #begin-btn,
  #settings-btn {
    width: 60px;
    height: 60px;
  }

  #game-menu {
    padding: 0px;
  }

  #game-menu .box {
    height: 90vh;
  }

  #game-details {
    margin-top: 20px;
    font-size: 1.3rem;
  }

  .question {
    position: absolute;
    width: 90%;
    height: 20vh;
    padding: 10px;
    top: 110px;
  }

  .question p {
    color: #fff;
    font-size: 1.5rem;
  }

  .timer-box {
    border: #fff solid 4px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
  }

  #timer {
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Share Tech Mono', monospace;
  }

  .answers {
    position: absolute;
    bottom: 80px;
    width: 95%;
    grid-gap: 0.8rem;
    margin-top: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .answer-btn {
    font-size: 1rem;
    padding: 10px;
  }

  .score {
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 15px;
  }

  #x {
    margin-left: 15px;
  }

  #check {
    margin-right: 15px;
  }

  .popup > div {
    width: 80%;
    padding: 25px;
    font-size: 1.1rem;
  }

  #endgame > div {
    font-size: 1.1rem;
  }

  #endgame > div > i {
    font-size: 3.5rem;
    bottom: 100px;
    margin-top: 20px;
  }

  #new-game-btn {
    position: absolute;
    width: 50%;
    height: 55px;
    bottom: 20px;
    padding: 0;
  }

  #apply-btn {
    position: absolute;
    width: 50%;
    height: 55px;
    bottom: 20px;
    padding: 0;
  }

  #release-notes div ul {
    font-size: 1rem;
  }
}
